.item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
  
  .disabled-page {
    color: #808e9b;
  }
  
  .active {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #EF6B33;
  }
  
  .break-me {
  }
  
  .next {
    font-size: 13px;
    height: 60px;
    width: 150px;
  }
  
  .pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 100%;
    margin-top: 50px;
  }
  
  .pagination-page {
    font-weight: 700;
  }
  
  .previous {
    font-size: 13px;
    height: 60px;
    width: 150px;
  }
